CompileFlags:
  Add:
   - -ferror-limit=0
   - -I/home/doubleleft/webrtc/src
   - -Isrc
   - -DWEBRTC_POSIX
   - -DWEBRTC_LINUX

Index:
  StandardLibrary: No

InlayHints:
  Designators: Yes
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes

Hover:
  ShowAKA: Yes

---

If:
  PathMatch:
    - .*\.cc
    - .*\.hh

CompileFlags:
  Compiler: clang++
  Add:
   - -xc++
   - -std=c++20
   - -Wno-deprecated-builtins
   - -Wno-deprecated-declarations

Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add: [performance*, modernize*, ]
    Remove: [ modernize-use-nodiscard, modernize-deprecated-headers, modernize-avoid-c-arrays, readability-*]

---

If:
  PathMatch: 
    - .*\.h
    - .*\.c

CompileFlags:
  Compiler: clang
  Add:
    - -xc

